body{
	font-family: 'Lato' , serif;;
	margin: 0;
}
.top{
	background-color: #222;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-bottom: solid 3px #444;
	font-size: large;
	display: none;
}

svg.main-logo{
	width: 100px;
}

img.menu-logo{
	width: 40px;
}
.burger-nav{
	/*float: right;*/
	position: fixed;
	right: 0px;
	margin: 15px;
	padding: 6px;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	outline:none;
	z-index: 1;
	-webkit-animation: example;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	animation-name: example;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes burger-beat {
    0%   {transform: scale(1) translateY(0px)}
    25%  {transform: scale(1.1) translateY(-10px)}
    50%  {transform: scale(1) translateY(0px)}
    75%  {transform: scale(1.1) translateY(-10px)}
    100% {transform: scale(1)translateY(0px)}
}

.slide-in-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10,10,10,0.7);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
/*to clear the button that is floated right just above the title div*/
.slide-in-menu div{
	clear: both;
}

.slide-in-visible{
	visibility: visible;
	opacity: 1;
}

.close-menu{
	float: right;
	margin: 2px;
	padding: 2px;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	outline:none;
	color: grey;
}

.options-menu{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background-color: white;
	border-right: solid 3px #9E9E9E;
	transform: translate3d(-100%,0,0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.slide-in-visible .options-menu{
	transform: translate3d(0%,0,0);
}

.options-menu ul{
	list-style-type: none;
	padding: 20px;
}

.options-menu h3{
	border-bottom: solid 2px lightgrey;
	padding-bottom: 10px;
	text-align: center;
}

.options-menu li a {
	font-size: 18px;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.options-menu li a:hover {
	color: white;
	background-color: ;
}
.options-menu li a span{
	margin-left: 12px;
}

.menu-bar{
	background-color: white;
	display: block;
	width: 30px;
	height: 3px;
	margin-top: 4px;
	border-radius: 2px;
	-webkit-transition: background-color 0.6s ease-in-out;
	transition: background-color 0.6s ease-in-out;
}
/*pseudo-element to clear floats so the container div can actually wrap its content*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

li a:hover {
    background-color: #444;
}

.go-rigth{
	float: right;
}

#header{
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
/*use translate 3d to force hardware acceleration so it looks better (in some devices)*/
#headerImg{
	display: block;
	width: calc(100% + 50px);
	height: calc(100% + 50px);
	-ms-transform: translate3d(-40px,-40px,0px);
    -webkit-transform: translate3d(-40px,-40px,0px);
	transform: translate3d(-40px,-40px,0px);
}
.header-title{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
}

.header-title div{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.header-title .burger-visible{
	display: block;
}

.header-title div h1{
	display: none;
	font-size: 4em;
	font-weight: 900;
}

.header-title div p{
	font-size: 2em;
	font-weight: 300;
	text-shadow: 3px 2px rgba(34,34,34,0.7);
}

.header-title div p span{
	font-size: 2em;
	font-weight: 400;
}
.content{
	margin: 40px auto 20px auto;
	max-width: 1300px; 
	padding: 0px 20px;
	text-align: center;
	overflow: hidden;
}


/*this contains the image card and the description of the project*/
.desc-card{
	/*min-width: 300px;*/
	max-width: 340px;
	display: inline-block;
	margin: 10px 10px 20px 10px;
	vertical-align: top;
}

.hidden{
	display: none;
}

.desc-card h4{
	margin-bottom: 0px;
}

.desc-card p{
	font-size: small;
}
.card-container{
	overflow: hidden; /*Mozilla*/
	height: 210px;
	/*min-width: 300px;*/
	max-width: 350px;
	display: inline-block;
	position: relative;
}

.card-container a>img{
	height: 100%;
	width: 100%;
}

.card-container .card{
	/*background: rgba(3,3,3,0.9);*/
	background: rgba(35, 105, 236, 0.8);
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
  	-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.card-container a:hover .card{
	visibility: visible;
  	opacity: 1;
}

.inner-div{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.inner-div span{
	margin-bottom: 5px;
	color: white;
	font-weight: bold;
	display: block;
	vertical-align: middle;
}

.inner-div span.link-content{
	border: solid 2px white;
	padding: 10px;
}

.inner-div img{
	width: 40px;
	height: 40px;
}

.git-link{
	display: inline-block;
    padding: 6px;
    margin: 7px;
    text-decoration: none;
    font-size: 15px;
    color: #008b8b;
}

.skills-section{
	background-color: #E4E4E4;
	background-image: url('../img/sayagata-400px.png');
	background-attachment: fixed; 
	min-height: 300px;
	padding-bottom: 20px;
}
.section-div{
	padding: 30px 20px 20px 20px;
	text-align: center;
	max-width: 600px;
	margin: auto; /*this will center the div within the section*/
}

.section-div-about{
	padding: 30px 20px 20px 20px;
	margin: auto;
	text-align: center;
	max-width: 600px;
}

.view-more-container{
	text-align: center;
	margin: 15px;
}

#view-more-proj{
	background-color: transparent;
	border: 2px solid rgb(35, 105, 236);
	color: rgb(35, 105, 236);
	transition: all .3s ease-in-out;
	padding: 10px 15px;
	cursor: pointer;
}

#view-more-proj:hover{
	color: white;
	background-color: rgb(35, 105, 236);
}

@media only screen and (max-device-width: 750px) {
	.section-div{
		max-width: 600px;
	}
}

.about-section{
	min-height: 300px;
	padding-bottom: 20px;
	overflow: hidden;
	background: url('../img/primera1.png');
	background-size: contain;
	background-position: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


@media only screen and (max-width: 1550px) {
	.section-div-about{
		margin-left: 300px;
	}
}

@media only screen and (max-width: 1300px) {
	.section-div-about{
		margin-left: 300px;
		max-width: 450px;
	}
}

@media only screen and (max-width: 1200px) {
	.section-div-about{
		margin-left: 200px;
		max-width: 450px;
	}

	.about-section{
		background-position: right -92px center;
	}
}

@media only screen and (max-width: 1000px) {
	.section-div-about{
		margin-left: 100px;
		max-width: 450px;
	}
}

@media only screen and (max-width: 900px) {
	.section-div-about{
		margin: auto;
		max-width: 600px;
	}

	.about-section{
		background: none;
	}
}

.contact-section{
	color: white;
	min-height: 300px;
	background-color: rgb(3,3,3);
	padding-bottom: 10px;
}

.thumbnail{
	display: none;
	border-radius: 50%;
	height: 130px;
	width: 130px;
	margin: 10px;
	-ms-transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	-webkit-filter: contrast(1.5);
	filter: contrast(1.5);
	-webkit-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	opacity: 0;
}

.thumbnail:hover{
	border-radius: 35%;
}
/*the translateX will make the screen's width bigger on mobile*/
.my-info{
	margin: 10px 0px 20px 0px;
	-ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
	transform: translateX(100px);
	-webkit-transition: all 1.1s ease-in-out;
	transition: all 1.1s ease-in-out;
	opacity: 0;
}

.my-info p{
	line-height: 170%;
}

.my-info a{
	display: inline-block;
	text-decoration: none;
	color: #444;
	border: solid 2px #444;
	background-color: white;
	text-align: center;
	padding: 10px;
}

.my-info a:hover{
	background-color: #444;
	color: white;
	border-color: white;
}
@media only screen and (max-device-width: 750px) {
	.my-info{
		-ms-transform: translateX(50px);
    	-webkit-transform: translateX(50px);
		transform: translateX(50px);
	}
 }
@media only screen and (max-device-width: 350px) {
	.my-info{
		-ms-transform: translateX(10px);
    	-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
 }


.social-links
{
	padding: 0px;
	color: white;
}

.social-links li{
	display: inline-block;
	list-style-type: none;
}

.back-to-top{
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	opacity: 0;
	color: white;
	background-color: #444;
	z-index: 10;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 50px;
}

#resp-section{
	padding: 8px;
	background-color: rgb(4,139,208);
	/*font-family: 'Covered By Your Grace', cursive;*/
}

#resp-section h2{
	text-align: center;
	color: white;
	font-weight: 400;
}

.resp-animation{
	margin: auto;
	margin-bottom: 30px;
	overflow: hidden;
	height: 200px;
	width: 300px;
	background-color: white;
	text-align: center;
	animation-name: resp;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 2s;
}

.resp-animation .resp-header{
	height: 20px;
	margin-bottom: 10px;
	background-color: #69645c;
}

.mini-menu{
	float: right;
	margin: 4px;
	visibility: hidden;
	animation-name: ani-mini-menu;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 2s;
}

.mini-menu-bar{
	background-color: white;
	display: block;
	width: 15px;
	height: 2px;
	margin-top: 2px;
	border-radius: 2px;
}

.resp-animation .resp-content{
	height: 60px;
	width: 20%;
	min-width: 80px;
	display: inline-block;
	background-color: blue;
	margin: 2px auto;
	transition: all 0.3s ease-in-out;
	animation-name: ani-resp-con;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 2s;
}

.resp-animation .resp-content:hover{
	opacity: 0.6;
}

.resp-animation .resp-content:nth-child(2){
  background-color: rgb(31,100,247);
}

.resp-animation .resp-content:nth-child(3){
  background-color: rgb(31,176,247);
}

.resp-animation .resp-content:nth-child(4){
  background-color: rgb(75,176,247);
}

.resp-animation .resp-content:nth-child(5){
  background-color: rgb(31,140,247);
}

.resp-animation .resp-content:nth-child(6){
  background-color: rgb(75,120,247);
}

@keyframes resp{
  0%   {width:300px; border-radius: 0px;}
  25%   {width:300px; border-radius: 0px;}
  45%   {width:210px; border-radius: 3px;}
  55%   {width:210px; border-radius: 3px;}
  70% {width:130px; border-radius: 6px;}
  100% {width:130px; border-radius: 6px;}
}

@keyframes ani-resp-con{
  0%   {width:20%;}
  25%   {width:20%;}
  45%   {width:45%;}
  55%   {width:45%;}
  70% {width:80%;}
  100% {width:80%;}
}

@keyframes ani-mini-menu{
  0%   {visibility:hidden;}
  25%   {visibility:hidden;}
  45%   {visibility:visible;}
  55%   {visibility:visible;}
  70% {visibility:visible;}
  100% {visibility:visible;}
}
/*
@media only screen and (max-device-width: 750px) {
	.back-to-top{
  		width: 40px;
		height: 40px;
	}
	.back-to-top i {
  		font-size: 40px;
	}
 }*/
/*this class has to be after the classes that want to be overwritten are declared, otherwise it won't overwrite 
the css properties */
.show-me{
	-ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
/*this just got serious let's go with the chart!*********************************/

.chart {
	background-image: url("../img/axis.png");
	clear: both;
	padding: 0;
	width: 100%;
	height: 425px;
	margin: 0 auto emCalc(-32px);
}

.chart li {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 13%; /*the Y axis li will be a bit larger so it can show the labels*/
	position: relative;
	text-align: center;
	vertical-align: bottom;
	top: -4px; /*Adjustment for to fit the Y axis*/
}

.chart .axis {
	width: 18%; 
	height: 425px;/*this will set the tallest li element
		so the others can play around with the height in % values*/
	display: inline-block;
	top: 30px; /*adjustment to use the right border as the Y axis*/
	border-right: 2px solid #d4d4d4;
}

.chart .label {
	margin: -9px 0 71px 0;
	letter-spacing: -1px;
	color: #6F6F6F;
    font-weight: 400;
    /*font-family: 'Covered By Your Grace', cursive;*/
}

.chart .skill {
	position: absolute;
	bottom: 5px;
	overflow: hidden;
	width: 100%;
}

.chart .skill img{
	width: 80%;
	height: 64px;
	max-height: 64px;
	max-width: 64px;
}

.skill-css{
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	height: 77%;
	background-color: red;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.skill-html{
	-webkit-transition: all 1.1s ease-in-out;
	transition: all 1.1s ease-in-out;
	height: 80%;
	background-color: red;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.skill-javascript{
	-webkit-transition: all 1.2s ease-in-out;
	transition: all 1.2s ease-in-out;
	height: 75%;
	background-color: red;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.skill-csharp{
	-webkit-transition: all 1.3s ease-in-out;
	transition: all 1.3s ease-in-out;
	height: 76%;
	background-color: red;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.skill-sql{
	-webkit-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
	height: 82%;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/*firs i wanted to add a transition of color, unfortunately when the background is a gradient
it won't behave just as it would usually do with a normal background color*/
.chart li:hover .skill{
	/*transform: translateY(-10px);*/
	-webkit-animation: example;
	-webkit-animation: 1s;
	animation-name: example;
    animation-duration: 1s;
}

.desc-card{
	-webkit-animation: fly-in-left;
	-webkit-animation: 1.3s;
	animation-name: fly-in-left;
    animation-duration: 1.3s;
}

@-webkit-keyframes fly-in-left {
	0%   {opacity: 0;
		
    }
    100%   {opacity: 1;

    }
}

@keyframes fly-in-left {
	0%   {opacity: 0;
    }
    100%   {opacity: 1;
    }
}

@-webkit-keyframes example {
    0%   {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
    25%  {-ms-transform: translateY(-10px);
    	-webkit-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    50%  {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
    75%  {-ms-transform: translateY(-10px);
    	-webkit-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    100% {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
}

@keyframes example {
    0%   {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
    25%  {-ms-transform: translateY(-10px);
    	-webkit-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    50%  {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
    75%  {-ms-transform: translateY(-10px);
    	-webkit-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    100% {-ms-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	transform: translateY(0px);
    }
}

/*mobile menu */
@media only screen and (min-width: 320px) and (max-width: 768px) {

	#header{
		height: 200px;
	}

	img.main-logo{
	width: 70px;
	}

	.burger-nav{
		margin: 10px;
	}
	
	.chart .axis {
		width: 25%; 
	}

	.chart li {
		width: 11%;
	}

	.chart .skill img {
		height: 32px;
	}

	.header-title div p{
		font-size: 1em;
	}

	.header-title div p span{
		font-size: 1em;
	}

	.options-menu{
		min-width: 200px;
	}
}

@media only screen and (max-width: 1300px) {
	.desc-card{
		max-width: 320px;
	}
}
 
@media only screen and (min-width: 320px) and (max-width: 550px) {
	.chart .label {
		-ms-transform: rotate(-70deg) translateX(-6px);
    	-webkit-transform: rotate(-70deg) translateX(-6px);
		transform: rotate(-70deg) translateX(-6px);
	}
}

@media only screen and (min-width: 750px) {
	.options-menu{
		width: 300px;
	}
}